@font-face {
    font-family: copperplate-bold;
    src: url('./assets/copperplate-bold.otf');
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    color: #48487f;
    font-family: copperplate-bold, serif;
}
#content {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 75vw;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    .navHeader {
        
        color: #48487f;
        font-family: copperplate-bold, serif;
        
    }

    .navElement {
        display: flex;
        
    }

    .navButton {
        margin-left: 1em;   
        border: none;
        border-radius: .5em;
        padding: 0.25em 1em 0.25em 1em;
        background-color: #26726d;
        
        font-weight: bolder;
    }

    .active {
        background-color: #46c0c1;
    }

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

.image {
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.footer > ul > li {
    margin: .5em;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
